{% extends 'base admin.html' %}

{% block title %}
Edit Language
{% endblock %}

{% block body %}
<main class="table w-screen h-screen bg-slate-700 text-center">
    <h1 class="text-white text-3xl font-semibold mt-10">Փոփոխել լեզուն</h1>
    <div class="mt-36 w-1/2 h-1/2 bg-slate-600 mx-auto text-center overflow-y-scroll">
        <form action="/admin/update_language/{{language_data.id}}" method="POST" enctype="multipart/form-data">
            <label class="text-white font-semibold text-xl mt-20 block">Լեզվի անուն: {{language_data.language_name}}</label>
            <input type="text" class="bg-cyan-500 border-2 border-white text-white text-center w-72 h-8" name="language_name">
            <label class="text-white font-semibold text-xl mt-5 block">Գլխավոր նկար: {{language_data.main_image}}</label>
            <input type="file" name="main_image" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl pt-5 block">Տեքստ: {{language_data.main_text}}</label>
            <textarea name="text" class="w-72 h-36 text-white bg-cyan-500 text-center duration-300 ease-in-out rounded-none focus:rounded-3xl focus:bg-white focus:text-cyan-500 focus:w-96 focus:h-52"></textarea>
            <label class="text-white font-semibold text-xl mt-5 block">Նկար 1: {{language_data.image1}}</label>
            <input type="file" name="image1" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl mt-5 block">Նկար 2: {{language_data.image2}}</label>
            <input type="file" name="image2" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl mt-5 block">Նկար 3: {{language_data.image3}}</label>
            <input type="file" name="image3" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl mt-5 block">Նկար 4: {{language_data.image4}}</label>
            <input type="file" name="image4" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl mt-5 block">Նկար 5: {{language_data.image5}}</label>
            <input type="file" name="image5" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl mt-5 block">Նկար 6: {{language_data.image6}}</label>
            <input type="file" name="image6" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <label class="text-white font-semibold text-xl mt-5 block">Մեծ նկար: {{language_data.big_image}}</label>
            <input type="file" name="big_image" class="bg-cyan-500 border-2 border-white text-center text-white" accept="image/gif, image/jpeg, image/png"><br>
            <select name="website_language" class="w-72 h-10 bg-cyan-500 border-2 border-white text-white text-center mt-10">
                <option value="armenian">Հայերեն</option>
                <option value="russian">Անգլերեն</option>
                <option value="english">Ռուսերեն</option>
            </select><br>
            <input type="submit" value="Ավելացնել" class="w-72 h-10 mt-10 bg-white duration-300 ease-in-out hover:bg-cyan-500 border-2 border-white hover:text-white cursor-pointer text-cyan-500 text-center text-xl font-semibold">
        </form>
    </div>
</main>
{% endblock %}