<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b667b42482.js" crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="text-center">
    <div class="table text-center h-screen justify-self-center items-center bg-gradient-to-r from-cyan-500 to-blue-500 w-screen align-center">
        <div class="table text-center w-96 h-96 bg-white m-auto mt-72 ">
            <i class="fa-solid fa-user text-teal-600 text-3xl float-left absolute p-2 flex"></i>
            <label class="text-teal-600 font-bold text-5xl block mt-10">Մուտք</label>
            <form method="POST">
                <label for="username" class="table pt-10 text-teal-600 font-semibold ml-20">Օգտանուն:</label>
                <input type="text" name="username" id="username" class="table w-72 h-10 bg-teal-600 ml-12 text-center duration-500 ease-in-out text-white border-2 border-teal-600 focus:bg-white focus:text-teal-600">
                <label for="username" class="table mt-1 text-teal-600 font-semibold ml-20">Գաղտնաբառ:</label>
                <input type="password" name="password" id="username" class="table w-72 h-10 bg-teal-600 ml-12 text-center text-white border-2 duration-500 ease-in-out border-teal-600 focus:bg-white focus:text-teal-600">
                <input type="submit" name="login" value="Մուտք" class="w-60 h-10 bg-teal-800 font-semibold border-2 border-teal-800 mt-8 cursor-pointer text-white duration-500 ease-in-out hover:bg-white hover:text-teal-800"><br>
            </form>
        </div>
    </div>
</body>
</html>