{% extends 'base.html' %}

    
{% block body %}


<main>


        {% for r in promotions %}
        <div class="actgroup">
            <div class="animate-left"><img src="{{ url_for('static', filename='uploads/'+r.image_name) }}" width="425" height="600" alt=""></div>
            <!-- <div class="animate-right"><img src="{{ url_for('static', filename='images/action2.png') }}"  width="425" height="600" alt=""></div> -->
        </div>
        {% endfor %}
        <!-- <div class="actgrouptwo">

            <div class="animate-right"><img src="{{ url_for('static', filename='images/action3.png') }}" width="425" height="600" alt=""></div>

            <div class="animate-left"><img src="{{ url_for('static', filename='images/action4.png') }}"  width="425" height="600" alt=""></div>

        </div> -->

        

        {% include 'contact_form_section.html' %}

        <p id="my-form-status" class="status"></p>

       </main>
       
       {% endblock %}