<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">
    <title>Art House language center</title>
</head>
<body>
    <header id="topheader">
        <div class="header animate-left">
             <div class="flags"><a href="form.html"><img  class="flagone" src="images/flag1 (2).png"  width="139 px" height ="172px"alt="" id="flone" ></a>
                <a href="test.html"><img  class="flagtwo" src="images/flag3.png"  width="139 px" height ="172px" alt=""></a>
            </div>
            <div class="logo animate-bottom">
                <a href="index.html"> <img src="images/logo.png" width="255px" height="80px" alt=""> </a>
            </div>
            <div id='select-container' class="animate-right ">
                <select id="dropdown" onchange="location = this.value;">
                     
                    <option   id="optone" value='chinese.html' selected ><a href="chinese.html">ARMENIAN</a></option>
                    <option   value="chineseeng.html"  id="opttwo" ><a href="chineseeng.html">ENGLISH</a></option>
                       <option value="chineserus.html" id="optthree"><a href="chineserus.html">RUSSIAN</a></option>
               
                   </select>
                <img id='dropdown-image'  src='images/globus.png' />
              </div>
        </div>
        </div>
    
        <div class="wrapper effect">
    
            <ul class="snip1175" >
                
                <li><a href="about.html" data-hover="Մեր մասին" id="ourone">Մեր մասին</a></li>
                <li><a href="languages.html" data-hover="Լեզուներ" id="ourtwo">Լեզուներ</a></li>
                <li><a href="action.html" data-hover="Ակցիաներ" id="ourthree">Ակցիաներ</a></li>
                <li><a href="prices.html" data-hover="Գնացուցակ" id="ourfour">Գնացուցակ</a></li>
                <li><a href="partners.html" data-hover="Գործընկերներ" id="ourfive">Գործընկերներ</a></li>
              </ul>
           
          </div>
          <div id="hidemenu">
            <span ><img src="images/Group 519.png" alt="" class="responsiveburg " width="40px" height="30px"  onclick="openNav()"> </span>
<div id="myNav" class="overon">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="images/Group 520.png" alt="" class="responsiveburg" width="40px" height="30px"></a>
    <div class="overon-content">
        <a href="index.html"><img src="images/logo.png"class="mobilelogo" alt=""></a>
      <a href="about.html"><img src="images/Group 518.png"  width="400px" height="70px" alt="" id="imgone"></a>
      <a href="languages.html"><img src="images/Group 513.png"  width="400px" height="70px" id="imgtwo"  alt=""></a>
      <a href="action.html"><img src="images/Group 517.png" width="400px" height="70px" id="imgthree"  alt=""></a>
    
      <a href="prices.html"><img src="images/Group 514.png"  width="400px" height="70px" id="imgfour" alt="" ></a>
      <a href="partners.html"><img src="images/Group 515.png" width="400px" height="70px" id="imgfive" alt="" ></a>
    </div>

  </div>
            
            </div>
       </header>
   <main>
    <div  class="englishgroup">
        <div class="english animate-left" >
             <img src="images/china.png" alt=""   height="700px">
        </div > 
        <div class="engtext animate-right">
<p>Լեզվի ուսուցումը նույնպես արվեստ է...</p><br>
   <p> Չինարենը ՉԺՀ-ի, Թայվանի և Սինգապուրի պաշտոնական լեզուն է։ Ամբողջ աշխարհում նրանով խոսում են ավելի քան 1,3 միլիարդ մարդ։

    Չինարենը նաև ՄԱԿ-ի աշխատանքային 6 լեզուներից մեկն է։ </p>
   <p> Արտ Հաուս ուսումնական կենտրոնը առաջարկում է խոսակցական չինարենի  արագացված դասընթացներ, լեզվի գերազանց իմացություն, որն այսօր համարվում է հաջողության գրավականը: Կազմակերպում են նաև մասնագիտական ռուսերենի դասընթացներ :
   </p>
     <br>
   <p>Դասերը վարում են բարձրակարգ մասնագետներ՝ նորագույն մեթոդիկայով, շաբաթական 3 պարապմունք 90 րոպե տևողությամբ: Առաջին պարապմունքն անվճար է: </p> 
     <ul class="list">
      <li>Մասնագիտական տերմինաբանություն, արտահայտություններ, երկխոսություններ  չինարեն և հայերեն տարբերակներով</li>
      <li>Կարճ ֆիլմերի դիտում և քննարկում</li>
      <li>Գրականության, քերականության ուսումնասիրություն՝ վարժությունների, առաջադրանքների, թարգմանությունների միջոցով</li>
      <li>Ակտիվ քննարկումներ, տեքստերի վերարտադրում ռուսերենով</li>
      <li>Բանավոր և գրավոր խոսքի զարգացում դիմորդների համար</li>
      <li>Ինտենսիվ խոսակցական դասընթացներ</li>
     </ul>
    	
    </p>
        </div>
    </div>
<section class="pictures">
    <div class="aroryaone bd">
        <div><img src="images/chin1.jpg"     height="360px" alt=""></div>
        <div><img src="images/chin.jpg"  height="430px" alt=""></div>
        <div><img src="images/chin3.jpg" alt=""  height="350px"></div>
    </div>
    <div class="aroryaone bd">
        <div><img src="images/chin4.jpg"  height="450px"   alt=""></div>
        <div class="margpic"><img src="images/fr6.jpg"  height="390px" alt="" id="chin"></div>
        <div><img src="images/chin6.jpg"   height="450px" alt=""></div>
    </div>
    <div class="fullpic animate-top">
        <img src="images/chinfull.jpg" height="570" alt="">
    </div></section>
    <section class="connect connection">
        <div class="connectedfor animate-top">
           <div class="connectus cn"> <img src="./images/Կապ մեզ հետ.png"  class="connectrus" alt=""  height="120px"></div>
           <div class="connectedtypes"> <img src="images/connection.png" height="550px" alt=""></div>
        </div>
        <div>
            <div class="icon ic">
            <div class="icons animate-bottom">
            <div class="contactsmethods"><a href="mailto:arthouselanguage@gmail.com"><i class="fa-regular fa-envelope"></i></a></div>
            <div class="contactsmethodstwo"><a target="_blank"  href="https://www.instagram.com/art_house_language/"><i class="fa-brands fa-instagram"></i></a></div>
            <div class="contactsmethodsthree"><a target="_blank"  href="https://www.facebook.com/AnglerenRuserenGermanerenFranserenIspaneren"><i class="fa-brands fa-facebook-f"></i></i></a></div>
             <div>
                <div class="inputfields animate-bottom">
               <div class="hayter"> <h3>ՀԵՏԱԴԱՐՁ ԿԱՊ</h3></div>
<div>
    <form id="my-form" action="https://formspree.io/f/xzbwkony" method="POST">
        <label></label><input type="text" name="text" placeholder="Անուն, Ազգանուն">
        <label></label><input type="email" name="mail" placeholder="Email">
        <label> </label><input type="phone"  name="phone"  placeholder="Հեռախոսահամար">
        <select class="select" name="language" id="choose">
            <option disabled >Ընտրել դասընթացը</option>
            <option value="Անգլերեն">Անգլերեն</option>
            <option value="Գերմաներեն">Գերմաներեն</option>
            <option value="Չինարեն">Չինարեն</option>
            <option value="Ֆրանսերեն">Ֆրանսերեն</option>
            <option value="Ռուսերեն">Ռուսերեն</option>
            <option value="Իտալերեն">Իտալերեն</option>
            <option value="Իսպաներեն">Իսպաներեն</option>
        </select>
        <input type="submit" id="my-form-button" value="Ուղարկել"  class="view send">
        
    </form>

    



   
</div></div></div>
             </div>
         </div>
        </div>
       
    </section>
    <p id="my-form-status" class="status"></p>
   </main>

  <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "193801524296214", // Facebook page ID
            whatsapp: "+374 77 200408", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#129BF4", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,whatsapp", // Order of buttons
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
   <footer>
    <div class="footer">
    <div class="footerlogo"><img src="images/logo.png"  height="80px" alt=""></div>
    <div class="hasce" ><p class="adress">Аbovyan St. 33, 0009, Armenia +37443543455</p>
    <p class="date">2022 ART HOUSE</p></div>
    <div class="iconki">
      <a href="mailto:arthouselanguage@gmail.com"> <img src="images/message.png"  height="22px"  alt="" ></a> 
      <a   href="https://www.instagram.com/art_house_language/" target="_blank"> <img src="images/instagram.png"  height="22px" id ="b" alt="" ></a>
        <a   href="https://www.facebook.com/AnglerenRuserenGermanerenFranserenIspaneren" target="_blank"> <img src="images/facebook.png"  height="22px" id ="c" alt="" ></a>
    </div>
</div>

   </footer>
   <section class="topsection">
    <div class="arrowtotop"><a href="#topheader"><img src="images/arrowupp.png" alt=""></a></div>

</section>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://tympanus.net/Development/Slicebox/js/jquery.slicebox.js"></script>

   <script src="https://unpkg.com/scrollreveal"></script>
   <script src="https://kit.fontawesome.com/9a1fc58522.js" crossorigin="anonymous"></script>
   <script src="js/form.js"></script>
   <script src="js/script.js"></script>
   <script src="js/error.js"></script>
</body>
</html>