<section class="connect topconnect connection">

    <div class="connectedfor animate-top">

       <div class="connectus cn"> <img src="{{ url_for('static', filename='images/kapmezhet.png') }}"  class="connectrus" alt=""  height="120px"></div>

       <div class="connectedtypes"> <img src="{{ url_for('static', filename='images/connection.png') }}" height="550px" alt=""></div>

    </div>

    <div>

        <div class="icon ic">

        <div class="icons animate-bottom">

        <div class="contactsmethods"><a href="mailto:arthouselanguage@gmail.com"><i class="fa-regular fa-envelope"></i></a></div>

        <div class="contactsmethodstwo"><a target="_blank"  href="https://www.instagram.com/art_house_language/"><i class="fa-brands fa-instagram"></i></a></div>

        <div class="contactsmethodsthree"><a target="_blank"  href="https://www.facebook.com/AnglerenRuserenGermanerenFranserenIspaneren"><i class="fa-brands fa-facebook-f"></i></i></a></div>

         <div>

            <div class="inputfields animate-bottom">

           <div class="hayter"> <h3>ՀԵՏԱԴԱՐՁ ԿԱՊ</h3></div>

<div>

      <form id="my-form" action="https://formspree.io/f/xzbwkony" method="POST">

    <label></label><input type="text" name="text" placeholder="Անուն, Ազգանուն">

    <label></label><input type="email" name="mail" placeholder="Email">

    <label> </label><input type="phone" name="phone"  placeholder="Հեռախոսահամար">

    <select class="select" name="language" id="choose">

        <option disabled >Ընտրել դասընթացը</option>

        <option value="Անգլերեն">Անգլերեն</option>

        <option value="Գերմաներեն">Գերմաներեն</option>

        <option value="Չինարեն">Չինարեն</option>

        <option value="Ֆրանսերեն">Ֆրանսերեն</option>

        <option value="Ռուսերեն">Ռուսերեն</option>

        <option value="Իտալերեն">Իտալերեն</option>

        <option value="Իսպաներեն">Իսպաներեն</option>

    </select>

    <input type="submit" id="my-form-button" value="Ուղարկել"  class="view send">

    

</form>













</div></div></div>

         </div>

     </div>

    </div>

   

</section>