<section class="connect topconnect connection">

    <div class="connectedfor animate-top">

       <div class="connectus cn"> <img src="{{ url_for('static', filename='images/Contact Us (1).png') }}"  class="connectrus" alt=""  height="120px"></div>

       <div class="connectedtypes"> <img src="{{ url_for('static', filename='images/connection.png') }}" height="550px" alt=""></div>

    </div>

    <div>

        <div class="icon ic">

        <div class="icons animate-bottom">

        <div class="contactsmethods"><a href="mailto:arthouselanguage@gmail.com"><i class="fa-regular fa-envelope"></i></a></div>

        <div class="contactsmethodstwo"><a target="_blank"  href="https://www.instagram.com/art_house_language/"><i class="fa-brands fa-instagram"></i></a></div>

        <div class="contactsmethodsthree"><a target="_blank"  href="https://www.facebook.com/AnglerenRuserenGermanerenFranserenIspaneren"><i class="fa-brands fa-facebook-f"></i></i></a></div>

         <div>

            <div class="inputfields animate-bottom">

           <div class="hayter"> <h3>FEEDBACK</h3></div>

<div>

<form id="my-form" action="https://formspree.io/f/xzbwkony" method="POST">

    <label></label><input type="text" name="text" placeholder="Name, Surname">

    <label></label><input type="email" name="mail" placeholder="Email">

    <label> </label><input type="phone" name="phone" placeholder="Phone">

    <select class="select" name="language" id="choose">

        <option disabled >Select the course</option>

        <option value="English">English</option>

        <option value="German">German</option>

        <option value="Chinese">Chinese</option>

        <option value="Franch">Franch</option>

        <option value="Russian">Russian</option>

        <option value="Italian">Italian</option>

        <option value="Spanish">Spanish</option>

    </select>

    <input type="submit" id="my-form-button" value="Send"  class="view send">

    

</form>













</div></div></div>

         </div>

     </div>

    </div>

   

</section>