{% extends 'base_eng.html' %}


   {% block body %}

     <main>

        <section class="price">

         

<div class="priceone "><img src="{{ url_for('static', filename='images/Group 463.png') }}"alt=""></div>







<div class="anhatakan animate-left"><img src="{{ url_for('static', filename='images/Group 464.png') }}" alt=""></div>

<div class="anhatakan animate-right"><img src="{{ url_for('static', filename='images/Group 465.png') }}" alt=""></div>









</section>



{% include 'contact_form_section_eng.html' %}

<p id="my-form-status" class="status"></p>

</main>

{% endblock %}