{% extends 'base_rus.html' %}

   {% block body %}

     <main>

        <section class="price">

         

<div class="priceone "><img src="{{ url_for('static', filename='images/Group 466.png') }}"alt=""></div>







<div class="anhatakan animate-left"><img src="{{ url_for('static', filename='images/Group 467.png') }}" alt=""></div>

<div class="anhatakan animate-right"><img src="{{ url_for('static', filename='images/Group 469o.png') }}" alt=""></div>









</section>



{% include 'contact_form_section_rus.html' %}

<p id="my-form-status" class="status"></p>

</main>

{% endblock %}