<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">
    <title>Art House language center</title>
</head>
<body>
    <header id="topheader">
        <div class="header">
             <div class="flags animate-left"><a href="formeng.html"><img  class="flagone" src="images/Group 484.png"  width="139 px" height ="172px"alt="" id="flone" ></a>
                <a href="testeng.html"><img  class="flagtwo" src="images/Group 485.png"  width="139 px" height ="172px" alt=""></a>
            </div>
            <div class="logo animate-top">
                 <a href="indexeng.html"><img src="images/logo.png" width="255px" height="80px" alt=""></a>

           
                </div>
                <div id='select-container' class="animate-right ">
                    <select id="dropdown" onchange="location = this.value;">
             
                        <option   id="optone" value='spanish.html'  >ARMENIAN</option>
                        <option   value="spanisheng.html" selected  id="opttwo" ><a href="form.html"></a>ENGLISH</a></option>
                           <option value="spanishrus.html" id="optthree">RUSSIAN</option>
                   
                       </select>
                    <img id='dropdown-image'  src="images//globus.png" />
                  </div>
        </div>
        </div>
    
        <div class="wrapper effect">
    
            <ul class="snip1175">
                
                <li><a href="abouteng.html" data-hover="About us">About us</a></li>
                <li><a href="languageseng.html" data-hover="Languages">Languages</a></li>
                <li><a href="actioneng.html" data-hover="Promotions">Promotions</a></li>
                <li><a href="priceseng.html" data-hover="Pricelist">Pricelist</a></li>
                <li><a href="partnerseng.html" data-hover="Co-Workers">Co-workers</a></li>
              </ul>
           
          </div>
          <div id="hidemenu">
            <span ><img src="images/Group 519.png" alt="" class="responsiveburg " width="40px" height="30px"  onclick="openNav()"> </span>
<div id="myNav" class="overon">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="images/Group 520.png" alt="" class="responsiveburg" width="40px" height="30px"></a>
    <div class="overon-content">
        <a href="indexeng.html"><img src="images/logo.png"class="mobilelogo" alt=""></a>
      <a href="abouteng.html"><img src="images/Group 512.png"  width="400px" height="70px" alt="" id="imgone"></a>
      <a href="languagesreng.html"><img src="images/Group 502.png"  width="400px" height="70px" id="imgtwo"  alt=""></a>
      <a href="actioneng.html"><img src="images/Group 510.png" width="400px" height="70px" id="imgthree"  alt=""></a>
    
      <a href="priceseng.html"><img src="images/Group 504.png"  width="400px" height="70px" id="imgfour" alt="" ></a>
      <a href="partnersreng.html"><img src="images/Group 506.png" width="400px" height="70px" id="imgfive" alt="" ></a>
    </div>

  </div>
            
            </div>
       </header>
   <main>
    <div  class="englishgroup">
        <div class="english animate-left" style="margin-top:40px">
             <img src="images/Group 476.png" alt="" height="700px">
        </div > 
        <div class="engtext animate-right">
            <p>Language teaching is also an art...</p><br>
            <p> Spanish is considered a state language in more than twenty countries of the world. It is estimated that the total number of speakers of Spanish is between four hundred and seventy to five hundred million, which means that it is one of the 2nd most widely spoken languages. According to 2007 data, Spanish is the 3rd most popular language by the total number of speakers after Chinese and English.</p>
             <p>The Art House Learning Center offers accelerated courses in spoken Spanish, an excellent command of the language, which today is considered the key to success. We also organize professional Spanish language courses.
         </p>
              <br>
            <p>Classes are conducted by high-class specialists using the latest methodology, 3 classes per week lasting 90 minutes. The first lesson is free. </p>
              <ul class="list">
               <li>Professional terminology, phrases, dialogues in Spanish and Armenian versions</li>
               <li>Watching and discussing short films</li>
               <li>Study of literature, grammar through exercises, tasks, translations</li>
               <li>Active discussions, reproduction of texts in Spanish</li>
               <li>Speaking and writing development for applicants</li>
               <li>Intensive speaking courses</li>
              </ul>
    </p>
        </div>
    </div>
    section class="pictures">
    <div class="aroryaone bd">
        <div><img src="images/sp1.jpg"     height="380px" alt=""></div>
        <div><img src="images/sp2.jpg" height="430px" class="down" alt=""></div>
        <div><img src="images/sp3.jpg" alt="" height="380px"></div>
    </div>
    <div class="aroryaone bd">
        <div><img src="images/sp4.jpg" height="450px"   alt=""></div>
        <div class="margpic"><img src="images/sp5.jpg"  height="390px" alt="" id="rs"></div>
        <div><img src="images/sp6.jpg"   height="450px" alt=""></div>
    </div>
    <div class="fullpic animate-top">
        <img src="images/frfull.jpg" height="570" alt="">
    </div></section>
    <section class="connect  connection">
        <div class="connectedfor animate-top">
           <div class="connectus cn"> <img src="./images/Contact Us (1).png"  class="connectrus" alt=""  height="120px"></div>
           <div class="connectedtypes"> <img src="images/connection.png" height="550px" alt=""></div>
        </div>
        <div>
            <div class="icon ic">
            <div class="icons animate-bottom">
            <div class="contactsmethods"><a href="mailto:arthouselanguage@gmail.com"><i class="fa-regular fa-envelope"></i></a></div>
            <div class="contactsmethodstwo"><a target="_blank"  href="https://www.instagram.com/art_house_language/"><i class="fa-brands fa-instagram"></i></a></div>
            <div class="contactsmethodsthree"><a target="_blank"  href="https://www.facebook.com/AnglerenRuserenGermanerenFranserenIspaneren"><i class="fa-brands fa-facebook-f"></i></i></a></div>
             <div>
                <div class="inputfields animate-bottom">
               <div class="hayter"> <h3>FEEDBACK</h3></div>
    <div>
          <form id="my-form" action="https://formspree.io/f/xzbwkony" method="POST">
        <label></label><input type="text" name="text" placeholder="Name, Surname">
        <label></label><input type="email" name="mail" placeholder="Email">
        <label> </label><input type="phone" name="phone"  placeholder="Phone">
        <select class="select" name="language" id="choose">
            <option disabled >Select the course</option>
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="Chinese">Chinese</option>
            <option value="Franch">Franch</option>
            <option value="Russian">Russian</option>
            <option value="Italian">Italian</option>
            <option value="Spanish">Spanish</option>
        </select>
        <input type="submit" id="my-form-button" value="Send"  class="view send">
        
    </form>
    
    
</div></div></div>
             </div>
         </div>
        </div>
       
    </section>
    <p id="my-form-status" class="status"></p>
   </main>
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "193801524296214", // Facebook page ID
            whatsapp: "+374 77 200408", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#129BF4", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,whatsapp", // Order of buttons
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
   
   <footer>
    <div class="footer">
    <div class="footerlogo"><img src="images/logo.png"  height="80px" alt=""></div>
    <div class="hasce" ><p class="adress">Аbovyan St. 33, 0009, Armenia +37443543455</p>
    <p class="date">2022 ART HOUSE</p></div>
    <div class="iconki">
        <a href="mailto:arthouselanguage@gmail.com"> <img src="images/message.png"  height="22px"  alt="" ></a> 
      <a href="https://www.instagram.com/art_house_language/"> <img src="images/instagram.png"  height="22px" id ="b" alt="" ></a>
        <a href="https://www.facebook.com/AnglerenRuserenGermanerenFranserenIspaneren"> <img src="images/facebook.png"  height="22px" id ="c" alt="" ></a>
    </div>
</div>

   </footer>
   <section class="topsection">
    <div class="arrowtotop"><a href="#topheader"><img src="images/arrowupp.png" alt=""></a></div>

</section>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://tympanus.net/Development/Slicebox/js/jquery.slicebox.js"></script>

   <script src="https://unpkg.com/scrollreveal"></script>
   <script src="https://kit.fontawesome.com/9a1fc58522.js" crossorigin="anonymous"></script>
   <script src="js/form.js"></script>
   <script src="js/script.js"></script>
   <script src="js/error.js"></script>
</body>
</html>